.loading {
  .spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;

    .double-bounce1, .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #333;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
  }
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.modal-overlay, .block-overlay {
  display: none;
}

.loading {
  .modal-content, .ajax-content {
    min-height: 200px;
  }

  .modal-overlay, .block-overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: #ffffff;
    opacity: 0.5;

    .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -40px 0 0 -40px;
    }
  }
}

.ajax-form {
  position: relative;
}

/* Menu */
.dropdown-hover:hover > .dropdown-menu {
  display: block;
}

.dropdown-item.dropdown-toggle::after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-menu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}